<div class="w-48 bg-zinc-100 border border-gray-200 rounded-lg shadow">
    <a href="#">
        <!-- Đặt kích thước cố định và dùng object-cover để giữ tỉ lệ -->
        <img class="w-48 h-48 object-cover rounded-t-lg" src="{{ user().avatar }}" alt="Friend Avatar" />
    </a>
    <div class="p-3">
        <a href="#">
            <!-- Dùng text-ellipsis để xử lý overflow text -->
            <h5 class="h-10 mb-2 text-xl tracking-tight text-gray-900 text-ellipsis">{{ user().fullName }}</h5>
        </a>
        <div class="text-end">
            <button (click)="sendFriendRequest(user().id)" class="inline-flex items-center px-2 py-1 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg width="16px" height="16px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title></title> <g id="Complete"> <g data-name="add" id="add-2"> <g> <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12" x2="12" y1="19" y2="5"></line> <line fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="5" x2="19" y1="12" y2="12"></line> </g> </g> </g> </g></svg>
            <span>Add Friend</span>
            </button>
        </div>
    </div>
</div>
