<div class="w-full h-screen bg-gray-50 flex items-center justify-center p-1">
  <div class="w-full max-w-screen-sm bg-white border rounded p-2 shadow">
    <h3 class="text-2xl font-semibold text-center border-b py-2 mb-3">
      Register
    </h3>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="mb-3 flex flex-col">
        <label for="fullName" class="text-gray-500">Full name</label>
        <input type="text" name="fullName" id="fullName"
          class="w-full outline-none border rounded p-2 focus:border-orange-500 transition-colors"
          formControlName="fullName" placeholder="Enter full name" required />
        @if (getFullName()?.invalid && (getFullName()?.dirty || getFullName()?.touched)) {
        <div class="text-sm text-red-500">
          @if (getFullName()?.hasError('required')) {
          Name is required
          }
        </div>
        }
      </div>
      <div class="mb-3 flex flex-col">
        <label for="email" class="text-gray-500">Email</label>
        <input type="text" name="email" id="email"
          class="w-full outline-none border rounded p-2 focus:border-orange-500 transition-colors"
          formControlName="email" placeholder="Enter email address" required />
        @if (getEmail()?.invalid && (getEmail()?.dirty || getEmail()?.touched)) {
        <div class="text-sm text-red-500">
          @if (getEmail()?.hasError('required')) {
          Email is required
          }
          @if (getEmail()?.hasError('email')) {
          Invalid email format
          }
        </div>
        }
      </div>
      <div class="mb-3 flex flex-col">
        <label for="password" class="text-gray-500">Password</label>
        <input type="password" name="password" id="password"
          class="w-full outline-none border rounded p-2 focus:border-orange-500 transition-colors"
          formControlName="password" placeholder="Enter a password" required />
        @if (getPassword()?.invalid && (getPassword()?.dirty || getPassword()?.touched)) {
        <div class="text-sm text-red-500">
          @if (getPassword()?.hasError('required')) {
          Password is required
          }
          @if (getPassword()?.hasError('minlength')) {
          Password must be at least 6 characters long
          }
        </div>
        }
      </div>
      <div class="mb-4 flex flex-col">
        <label for="confirm-password" class="text-gray-500">Cofirm Password</label>
        <input type="password" name="confirmPassword" id="confirm-password"
          class="w-full outline-none border rounded p-2 focus:border-orange-500 transition-colors"
          formControlName="confirmPassword" placeholder="Enter confirm password" required />
        @if (getConfirmPassword()?.invalid && (getConfirmPassword()?.dirty || getConfirmPassword()?.touched)) {
        <div class="text-sm text-red-500">
          @if (getConfirmPassword()?.hasError('required')) {
          Confirm password is required
          }
          @if (getConfirmPassword()?.hasError('minlength')) {
          Confirm password must be at least 6 characters long
          }
        </div>
        }
      </div>
      <button type="submit"
        class="w-full flex items-center justify-center gap-2 rounded bg-orange-500 text-white p-2 hover:bg-orange-600 disabled:bg-orange-400 transition-colors mb-3"
        [disabled]="isLoading" role="status">
        @if (isLoading) {
        <svg aria-hidden="true" class="inline w-6 h-6 text-transparent animate-spin fill-white" viewBox="0 0 100 101"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor" />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill" />
        </svg>
        }
        <span>Register</span>
      </button>
      <div class="text-center mb-4 text-gray-500">Or</div>
      <div class="mb-8 w-full flex items-center gap-2">
        <button
          class="w-full bg-white flex items-center gap-2 justify-center py-2 border rounded hover:bg-orange-50 transition-colors">
          <svg width="24px" height="24px" viewBox="-3 0 262 262" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid" fill="#000000">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"
                fill="#4285F4"></path>
              <path
                d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"
                fill="#34A853"></path>
              <path
                d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"
                fill="#FBBC05"></path>
              <path
                d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"
                fill="#EB4335"></path>
            </g>
          </svg>
          Google
        </button>
        <button
          class="w-full bg-white flex items-center gap-2 justify-center py-2 border rounded hover:bg-orange-50 transition-colors">
          <svg width="24px" height="24px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path fill="#1877F2"
                d="M15 8a7 7 0 00-7-7 7 7 0 00-1.094 13.915v-4.892H5.13V8h1.777V6.458c0-1.754 1.045-2.724 2.644-2.724.766 0 1.567.137 1.567.137v1.723h-.883c-.87 0-1.14.54-1.14 1.093V8h1.941l-.31 2.023H9.094v4.892A7.001 7.001 0 0015 8z">
              </path>
              <path fill="#ffffff"
                d="M10.725 10.023L11.035 8H9.094V6.687c0-.553.27-1.093 1.14-1.093h.883V3.87s-.801-.137-1.567-.137c-1.6 0-2.644.97-2.644 2.724V8H5.13v2.023h1.777v4.892a7.037 7.037 0 002.188 0v-4.892h1.63z">
              </path>
            </g>
          </svg>
          Facebook</button>
      </div>
      <div class="text-center">You have a account? <a routerLink="/login" class="text-orange-500">Login</a></div>
    </form>
  </div>
  <div id="errorModal"
    class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center transition-opacity opacity-0" [ngClass]="{
    'opacity-0 pointer-events-none': errorMessage() === '',
    'opacity-100 pointer-events-auto': errorMessage() !== ''
  }">
    <div class="bg-white rounded-lg shadow-lg p-6 w-96 transform transition-transform" [ngClass]="{
      'scale-95': errorMessage() === '',
      'scale-100': errorMessage() !== ''
    }">
      <!-- Modal Header -->
      <div class="flex justify-between items-center">
        <h3 class="text-lg font-bold text-red-500">Error</h3>
        <button id="closeModal" class="text-gray-500 hover:text-gray-700">
          &times;
        </button>
      </div>
      <!-- Modal Body -->
      <div class="mt-4">
        <p class="text-gray-700">{{ errorMessage() }}</p>
      </div>
      <!-- Modal Footer -->
      <div class="mt-6 flex justify-end">
        <button (click)="closeModalError()" id="closeModalFooter"
          class="px-4 py-2 bg-gray-100 text-gray-700 rounded hover:bg-gray-200 transition-colors">
          Close
        </button>
      </div>
    </div>
  </div>
</div>