<div class="w-full h-screen flex items-center justify-center">
  <div class="w-full max-w-sm p-2">
    <div class="border rounded shadow">
      <div class="flex items-center justify-between p-2">
        <h3 class="text-2xl">Login</h3>
        <a routerLink="/example" class="bg-white border border-zinc-300 rounded px-1 py-0.5 text-zinc-800 hover:bg-zinc-100 transition-colors">Example</a>
      </div>
      <hr class="mb-2">
      <form (ngSubmit)="login()" method="post" class="p-3">
        <div class="flex flex-col mb-3">
          <label for="email" class="text-sm text-zinc-800">Email</label>
          <input type="text" id="email" name="email" class="w-full border rounded p-1 outline-none focus:border-blue-500 transition-colors duration-100" required autofocus>
        </div>
        <div class="flex flex-col mb-1">
          <label for="password" class="text-sm text-zinc-800">Password</label>
          <input type="password" id="password" name="password" class="w-full border rounded p-1 outline-none focus:border-blue-500 transition-colors duration-100" required>
        </div>
        <div class="text-right mb-3">
          <a routerLink="" class="hover:text-orange-500 transition-colors duration-100">Forgot password?</a>
        </div>
        <button type="submit" class="bg-blue-500 text-white w-full rounded px-2 py-1.5 hover:bg-blue-600 active:bg-blue-700 transition-colors">Login</button>
      </form>
      <div class="mb-2 text-center text-zinc-600">Or</div>
      <div class="text-center mb-2">Don't you have a account? <a routerLink="/register" class="text-orange-500">Register</a></div>
    </div>
  </div>
</div>
