<div class="w-full min-h-screen" style="background-color: #EFF6FC;">
    <div class="w-full flex flex-col md:flex-row items-center justify-start mb-1">
        <div class="w-full aspect-4/3 bg-zinc-800">
            <video #remoteVideo class="w-full aspect-4/3 -scale-x-100" autoplay playsInline></video>
        </div>
        <div class="w-full aspect-4/3 bg-black rounded">
            <video #localVideo class="w-full aspect-4/3 -scale-x-100" autoplay playsInline></video>
        </div>
    </div>
    <div class="w-full flex flex-col md:flex-row items-center justify-start p-1">
        <div class="w-full flex items-center justify-start gap-3">
            @if (isStarted) {
                <button class="w-full py-16 bg-green-500 text-white text-2xl rounded shadow-md shadow-green-700 hover:bg-green-600 active:bg-green-700 disabled:shadow-none disabled:bg-green-300 transition-colors">Next</button>
            } @else {
                <button (click)="onChangeStatus()" class="w-full py-16 bg-green-500 text-white text-2xl rounded shadow-md shadow-green-700 hover:bg-green-600 active:bg-green-700 disabled:shadow-none disabled:bg-green-300 transition-colors">Start</button>
            }
            <button (click)="onChangeStatus()" class="w-full py-16 bg-red-500 text-white text-2xl rounded shadow-md shadow-red-700 hover:bg-red-600 active:bg-red-700 disabled:shadow-none disabled:bg-red-300 transition-colors" [disabled]="!isStarted">Stop</button>
            <div class="w-full"></div>
            <div class="w-full"></div>
        </div>
        <div class="w-full border bg-white rounded">
            <h3 class="text-xl px-2 py-1 border-b">Messages</h3>
            <div class="w-full h-36 px-2 py-1 border-b overflow-y-auto"></div>
            <form class="w-full flex items-center px-2">
                <input type="text" name="message" id="message" class="w-full py-1 outline-none" placeholder="Enter a message..." required>
                <button type="submit" class="p-1">
                    <svg fill="#000000" height="24px" width="24px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 495.003 495.003" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="XMLID_51_"> <path id="XMLID_53_" d="M164.711,456.687c0,2.966,1.647,5.686,4.266,7.072c2.617,1.385,5.799,1.207,8.245-0.468l55.09-37.616 l-67.6-32.22V456.687z"></path> <path id="XMLID_52_" d="M492.431,32.443c-1.513-1.395-3.466-2.125-5.44-2.125c-1.19,0-2.377,0.264-3.5,0.816L7.905,264.422 c-4.861,2.389-7.937,7.353-7.904,12.783c0.033,5.423,3.161,10.353,8.057,12.689l125.342,59.724l250.62-205.99L164.455,364.414 l156.145,74.4c1.918,0.919,4.012,1.376,6.084,1.376c1.768,0,3.519-0.322,5.186-0.977c3.637-1.438,6.527-4.318,7.97-7.956 L494.436,41.257C495.66,38.188,494.862,34.679,492.431,32.443z"></path> </g> </g></svg>
                </button>
            </form>
        </div>
    </div>
</div>