<div class="mb-3">
    <div class="bg-blue-500 mb-2 sticky top-0 z-10">
        <h3 class="text-xl font-semibold text-white px-2 py-2">Confirm Friends</h3>
    </div>
    <div class="w-full flex flex-wrap items-center justify-start gap-2 px-2 mb-2">
        @for (friend of friends; track $index) {
            @if (friend.status === 'pending') {
                <app-friend-item [friend]="friend"></app-friend-item>
            }
        }
    </div>
    <div class="bg-blue-500 sticky top-0 z-10">
        <h3 class="text-xl font-semibold text-white px-2 py-2">Friend Suggestions</h3>
    </div>
    <form class="mb-2 p-2 sticky top-10 z-10 bg-white">
        <div class="flex items-center justify-start gap-2">
            <input type="text" name="search" id="search" class="max-w-screen-sm p-2 border outline-none rounded" placeholder="Enter name or email user">
            <button class="flex items-center justify-center gap-2 bg-zinc-200 text-black p-2 rounded">
                <svg fill="#000000" height="24px" width="24px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 488.4 488.4" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M0,203.25c0,112.1,91.2,203.2,203.2,203.2c51.6,0,98.8-19.4,134.7-51.2l129.5,129.5c2.4,2.4,5.5,3.6,8.7,3.6 s6.3-1.2,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3l-129.6-129.5c31.8-35.9,51.2-83,51.2-134.7c0-112.1-91.2-203.2-203.2-203.2 S0,91.15,0,203.25z M381.9,203.25c0,98.5-80.2,178.7-178.7,178.7s-178.7-80.2-178.7-178.7s80.2-178.7,178.7-178.7 S381.9,104.65,381.9,203.25z"></path> </g> </g> </g></svg>
            </button>
        </div>
    </form>
    <div class="w-full flex flex-wrap items-center justify-start gap-2 px-2">
        @for (user of users; track $index) {
            <app-user-card [user]="user"></app-user-card>
        }
    </div>
</div>